:root{
   --L1: #C6B7BE;
   --M1: #363334;
   --M2: #232121;
   --D1: #1E1C1D;
   --A1: #56B154;
   --A2: #FF2525;

   --SHD: #12121266; 
}

*{
	margin: 0;
	padding: 0;
}
body{
    background-color: var(--M1);
    color: var(--M2);
    padding: 5%;
}

main{
	display: grid;
    align-items: center;
    max-width: 360px;
    margin: auto;
    border: 1px solid red;
}

div.head{
    display: inline-block;
    margin: 0; 
    height: 60px;
    text-align: center;
    color: var(--M1);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
div#header{
    width: 100%; 
    background-color: var(--M2);
    box-shadow:  3px 3px 8px var(--SHD);
}
div#acertos{
    padding: 10px 0;
    width: 120px;
}
span#score{
    text-align: center;
    margin-right: 50px;

    font-size: 2em;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    line-height: 50px;
    color: var(--L1);
    text-shadow: 2px 2px 4px var(--SHD);
}

div#nivel{
    text-align: left;   
    width: 240px;
    float: right;
    padding: 10px 0;
}
div#nivel span{
    margin: 20px; 
    line-height: 40px;
}

div#nivel span#dificuldade{  
    
    margin-left: 0;
}

span#dificuldade{
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 4px var(--SHD);
    color: var(--A1);
}

div#lifebar{
    width: 202px;
    margin: auto;
    padding: 0px;
    height: 20px;
    text-align: left;

    box-shadow: 2px 2px 6px var(--SHD);
}

div.vida, div.vidaVazio{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 2px;
    
    transition: all .1s;
    background-color: var(--A2);
    box-shadow: inset 2px 2px 3px var(--SHD);
}
div.vidaVazio{
    background-color: var(--M2);
}

/*------------ Form Central ------------*/

div#valores{
    height: 100px;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

form{
    margin: auto;
    color: var(--M2);
    font-family: 'Comfortaas', Arial, Helvetica, sans-serif;
}

input.txt_valores{
    display: inline-block;
	height: 120px;
	width: 100px;
    padding: 0 30px;

	border: none;
    background-color: var(--M2);
    box-shadow:  3px 3px 8px var(--SHD);

    color: var(--L1);
	font-size: 3em;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px var(--SHD);
}

input#txt_v1{   text-align: right;}

input#txt_resp{
    width: 100%;
    height: 100px;
    margin: 20px 0;
    padding: 0;
    
    border: none;
    background-color: var(--M2);
    transition: box-shadow .3s;
    text-shadow: 2px 2px 4px var(--SHD);
    box-shadow:  3px 3px 8px var(--SHD);
    
    text-align: center;
    font-size: 2em;
    color: var(--L1);
    
}

input#txt_resp:hover{
    box-shadow: inset 0 3px 6px var(--SHD);
}

input#txt_resp:focus{
    outline: none;
}

/*------- botão -------*/

div#timebar{
    width: 100%;
    height: 5px;
    background-color: var(--M1);
}

div#liquid{
    width: 100%;
    height: 5px;
    
    background: var(--A2);

    transition: all .1s;
}

input#btn_verificar{
    width: 100%;
    height: 100px;

    border: none;
    background-color: var(--M2);
 
    color: var(--L1);
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    font-size: 2.6em;
    text-shadow: 2px 2px 4px var(--SHD);
    box-shadow:  3px 3px 8px var(--SHD);

    transition: box-shadow .5s;
}


input#btn_verificar:hover{

    box-shadow: inset 0 3px 6px var(--SHD);
    cursor: pointer;
}


span#footer{  
    margin: 20px 0;

    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

span.correto{
    color: var(--A1);
}

span.errado{
    color:var(--A2);
}
span#pontosGanhos{
    text-align: left;
    margin-left: -50px; padding: 0;
    color: var(--A1);
}