:root{
   --L1: #eff2f9;
   --L2: #e4ebf1;
   --M1: #b5c0c6;
   --D1: #6e808e;
   --D2: #29354f;

   --ACC: #fffffb;
   --SHD: #3636363f; 
   --DES: rgb(109, 206, 245);
}

*{
	margin: 0;
	padding: 0;
}
body{
    background-color: var(--L1);
    padding: 5%;
}

main{
	display: grid;
    align-items: center;
    max-width: 300px;
    margin: auto;
    padding: 20px;
}

div#header{
    width: 100%;
    color: var(--M1);  
}

div.head{
    display: inline-block;
    margin: 5px 30px;
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
div.head span{
    line-height: 40px;
    font-size: 1.6em;
    color: var(--D1);
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

div#timebar{
    width: 202px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    height: 6px;
    box-shadow: 3px 3px 8px var(--SHD);
    border-radius: 6px;
}

div#liquid{
    width: 200px;
    margin: 1px;
    height: 4px;
    background: linear-gradient(to right, var(--D1), var(--DES));
    border-radius: 5px;
}
div#nivel{
    float: right;
}

div#valores{
    height: 100px;
    width: 240px;
    margin: 0 20px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 3px 3px 8px var(--SHD),
                -3px -3px 8px var(--ACC),
                inset 1px 1px 3px var(--ACC),
                inset -1px -1px 2px var(--SHD);
}
form{
    margin: auto;
    color: var(--M1);
    font-family: 'Comfortaas', Arial, Helvetica, sans-serif;
}

input.txt_valores{
	font-size: 2.8em;
	height: 60px;
	width: 60px;
	background-color: var(--L1);
    color: var(--D2);
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
	margin: 20px 8px;
	border: none;
    text-shadow: 2px 2px 4px var(--SHD);
}
input#txt_v1{   text-align: right;}

input#txt_resp{
    width: 170px;
    height: 40px;
    margin: 30px 20px;
    padding-right: 10px;

    border-radius: 20px;
    border: none;
    background-color: var(--L1);
    text-align: right;
    box-shadow: inset 3px 3px 6px var(--SHD),
                inset -3px -3px 6px var(--ACC),
                1px 1px 3px var(--ACC),
                -1px -1px 3px var(--SHD);
    color: var(--M1);
    transition: box-shadow .3s;
}

input#txt_resp:hover{
    box-shadow: inset 1px 1px 3px var(--SHD),
                inset -1px -1px 3px var(--ACC);
}

input#txt_resp:focus{
    outline: 1px solid var(--DES);
}

input#btn_verificar{
    width: 40px;
    height: 40px;
    margin-right: 20px;

    border-radius: 100%;
    border: none;
    box-shadow: 3px 3px 8px var(--SHD),
                -3px -3px 8px var(--ACC),
                inset 1px 1px 3px var(--ACC),
                inset -1px -1px 2px var(--SHD);

    background-color: var(--L1);
    color: var(--M1);
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: box-shadow .5s;
}

input#btn_verificar:hover{
    box-shadow: 1px 1px 3px var(--SHD),
                -1px -1px 3px var(--ACC);
    cursor: pointer;
}

span#dificuldade{  margin-bottom: 12px; }

span#footer, span#dificuldade{  
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: var(--M1);  
}